@import url("https://fonts.googleapis.com/css?family=Inconsolata:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Space+Mono:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat:wght@500;700&display=swap");

:root {
  --space-smallest: 1px;
  --space-xxs: 4px;
  --space-xs: 8px;
  --space-sm: 16px;
  --space: 24px;
  --space-md: 32px;
  --space-lg: 48px;
  --space-xlg: 64px;
  --space-xxlg: 80px;

  --white: #FFFFFF;
  --black: #333333;
  --gray: #4F4F4F;
  --light-gray: #BDBDBD;

  --title-color: var(--black);
  --text-color: var(--gray);
  --button-text-color: var(--white);
  --button-background-color: var(--black);
  --footer-text-color: var(--light-gray);
  --background: var(--white);
}

* {
  box-sizing: border-box;
}

body {
  background: var(--background);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: stretch;
  height: 100vh;
  width: 100%;
  margin: 0;
  overflow: hidden;
}

header {
  height: var(--space-lg);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

header span {
  font-family: "Inconsolata";
  font-weight: 700;
  font-size: 24px;
  line-height: 25px;
  color: var(--title-color);
  padding: 20px 0 0 var(--space);
  text-transform: uppercase;
}

main {
  width: auto;
  height: auto;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 var(--space);
}

main img {
  width: 286px;
  height: 238px;
}

main .content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

main .content h1 {
  font-family: "Space Mono";
  font-weight: 700;
  font-size: 64px;
  line-height: 95px;
  color: var(--title-color);
}

main .content p {
  font-family: "Space Mono";
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  color: var(--text-color);
}

main .content button {
  font-family: "Space Mono";
  cursor: pointer;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  padding: var(--space) 43px;
  color: var(--button-text-color);
  background-color: var(--button-background-color);
  text-transform: uppercase;
  opacity: 1;
  transition: opacity 0.4s;
}

main .content button:hover {
  opacity: 0.8;
}

footer {
  width: 100%;
  max-height: var(--space-lg);
  height: 100%;
  text-align: center;
}

footer span {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: var(--footer-text-color);
}

footer span a {
  cursor: pointer;
  font-weight: 700;
  color: var(--footer-text-color);
}

@media (max-width: 425px) {
  main img {
    width: 286px;
    height: 238px;
  }

  main .content h1 {
    font-size: 48px;
    line-height: 71px;
  }

  main .content p {
    font-size: 18px;
    line-height: 27px;
  }

}

@media (min-width: 768px) {
  main img {
    width: 440px;
    height: 347px;
  }
}

@media (min-width: 1024px) {
  main img {
    width: 540px;
    height: 447px;
  }
}

@media (min-width: 1440px) {
  main {
    flex-direction: row;
  }

  main img {
    margin-right: var(--space-xlg);
  }
  
  main .content {
    margin-left: var(--space-xlg);
  }

}